
*{
}
body{
    background-color: rgb(139, 161, 187);
    padding: 0px 10px;
    font-family: Arial, Helvetica, sans-serif;

}


div.contenair{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 10px;

}
div.categorie{
    background-color: black;
    margin: 0px 40%;
    font-size: 17px;
    width: 100px;
    padding: 0px;
    display: inline-block;
    margin-bottom: -25px;
    overflow: auto;
    color: #fff;

}
div.categorie p{
    margin: 10px;
}
div.contenair h1{
}
.center{

    text-align: center;  
             
                    
}


div.description{
    width: 350px;
    margin: auto;

}

.separateur{
    width: 200px;
    border-bottom: 1px solid black;
    margin: 30px auto;

}
div.image{

    margin-top: 40px;
 
    position: relative;

}
div.image img {

   box-shadow: 0px 0px 6px 2px rgb(90, 93, 95);
   object-fit: cover;
   display: block;  
   width: 100%;


}
div.image table{
    position:absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgb(213, 229, 242);
    opacity: 0.6;
    text-align: center;
    height: 100px;

}
div.image table th{
    vertical-align: bottom;
    font-weight: bold;

}
div.image table td{
    vertical-align: top;

}
div.coll{
    background-color: #fff;
    width: 100%;
}
div.colonne1 h2{
    padding: 5px;
    border-bottom: 5px solid rgb(213, 229, 242);
    text-align: center;

}
div.colonne1{
    width: 100%;
    display: block;


}
div.colonne1 P{
border: 1PX solid black;
padding: 5px;
text-align: center;


}
div.colonne2{
    width: 100%;

}
div.colonne2 h2{
    padding: 5px;
    border-bottom: 5px solid rgb(213, 229, 242);
    text-align: center;

}
div.colonne2 .numero{
    font-size: 20px;
    background-color: rgb(213, 229, 242);
    width: 50px;
    border-radius: 100%;
    height: 50px;
}
div.colonne2 .num{
    text-align: center;
    padding: 10px;
}


@media only screen and (min-width: 768px) {
    div.categorie{
        background-color: black;
        margin: 3px 46%;
        width: 100px;
        margin-bottom: -25px;
        display: inline-block;
    
    }
    div.description{
        width: 400px;
        margin: auto;
    
    }
    div.colonne1{
        width: 45%;
        margin-right: 10%;
        display: inline-block;
    
    
    }
    div.colonne1 P{
    border: 1PX solid black;
    padding: 5px;
    text-align: center;
    
    
    }
    div.colonne2{
        float: right;
        width: 45%;
    
    }
    div.colonne2 h2{
        padding: 5px;
        border-bottom: 5px solid rgb(213, 229, 242);
        text-align: center;
    
    }
    div.colonne2 .numero{
        font-size: 20px;
        background-color: rgb(213, 229, 242);
        width: 50px;
        border-radius: 100%;
        height: 50px;
    }
    div.colonne2 .num{
        text-align: center;
        padding: 10px;
    }
    
    
    
}
