*{
    box-sizing: border-box;
}
:root{
    --color1:#D89584;
    --color2:#F4F4F4;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
div.cover{
    background :url(cover_overlay.png) no-repeat center/100% 100%,url(cover.jpg) no-repeat center/cover;
    position: relative;
    height: 360px;
}
.cover-profil{

    height: 100px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-top: 30px;
}
div.cover p{
    text-align: center;
    color:lightgray ;
}

  
 
 
.cover h2{
    
    color: #fff;
    
} 
div.cover-contact{
    position: absolute;
    top: 0px;
    border-left: 2px solid var(--color1);
    margin-left: 20px;
    margin-top: 30px;
    padding-left: 10px;

}
div.cover-contact p {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
   

}
div.cover-contact p:first-child{
    margin-bottom: 15px;
}
div.cover-contact a {
    color:#fff;
    font-size: 14px;
    text-decoration: none;
}
.cover-button{
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-top: 5px;
    padding: 8px 20px;
    border: 2px solid var(--color1);
    background-color: #16151569;

    

}
.cover-button a {
    text-decoration: none;
    color: var(--color1);
    font-weight: bold;
}
.cover-button:hover{
    border: 2px solid #fff;
}
.cover-button a:hover{
    color: #fff;

}
.section{
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom:40px;
    padding-top: 20px;
    overflow: auto;
}

.section-grise1{
    background:  url(triangle2white.svg) no-repeat center bottom/100%   ;
    background-color: var(--color2);
    padding-top: 20px ;
    padding-bottom: 60px;
}
ection-blanc1{
}
.section-grise2{
    background:  url(triangle1white.svg) no-repeat center top/100% ;
    background-color: var(--color2);
    padding-top: 70px ;
    padding-bottom: 20px;
}
.section-blanc2{

}
h2{
    text-align: center;
    color: #000000;
    font-size: 30px;
} 

.separateur{
    position: relative;
    background-color: #979797;
    width: 150px;
    height: 1px;
    left: 50%;
    margin-left:-75px;
}
.section-grise1 P{
    font-size: 18px;
    width: 370px;
    text-align: center;
    margin-left:  auto;
    margin-right: auto;
    color: #656565 ;

}
span{
    font-weight: bold;
}
.col40{
    width: 40%;

}
.floatright{
    float: right;
}
.col60{

    width: 60%;
}
div.text-avec-ligne-verticale{
   
    border-left: 4px solid var(--color1);
    padding-left: 8px;
    height: 50px;
    display: inline-block;
    
}
div.text-avec-ligne-verticale p{
    margin-top:0px;
    padding-top: 0px;
    
}
div.bare-vertical{
    background-color: var(--color1);
    height: 50px;
    width: 4px;
    margin-right: 8px;

}
.section-blanc2{
   
}
.col_portfolio{
    width: 47%;
}
.frame{
    
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 4px #b1aeae;
}
.frame-title{
    font-size: 30px;
    text-align: center;

}
.frame img{
padding-top: 0px;
}